.carousel-inner{
    height: 91.5vh;
    margin-top: -50px;
}

.carousel-item{
    position: relative;
}

.text1{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Georgia, serif	;
    color: rgb(0, 0, 0);
    font-size: 80px; 
  }
   .text2{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Georgia, serif	;
    font-size: 90px;
  }

  .text3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Georgia, serif	;
  }