.carousel-inner{
    height: 91.5vh;
    margin-top: -50px;
}

.carousel-item{
    position: relative;
}

.text1{
    position: absolute;
    top: 30%;
    left: 57%;
    transform: translate(-50%, -50%);
    font-family: Georgia, serif	;
    color: rgb(255, 255, 255);
    font-size: 50px; 
  }
   .text2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Georgia, serif	;
    font-size: 90px;
  }

  .text3{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Georgia, serif	;
    font-size: 70px;
    color: rgb(255, 255, 255);
  }

  .text4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Georgia, serif	;
    font-size: 90px;
    color: rgb(255, 255, 255);
  }


  .text5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Georgia, serif	;
  }